@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

:root {
    --bs-body-bg: #ffffff;
    --color-gold: #c38e00;
    --color-gold-light: #e9a900;
    --color-red-wine: #bf2f48;
}

html, body {
    overflow-x: hidden;
}

.active {
    color: var(--color-gold) !important;
}

h2,
h1 {
    color: var(--color-gold);
}

p {
    font-family: Alice, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.my-title-letter {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.my-subtitle-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: normal;
}

.my-section-title {
    font-size: 45px;
    line-height: 0.8;
    letter-spacing: 8px;
}

.my-section-subtitle {
    font-size: 32px;
    line-height: 0.8;
    letter-spacing: 4px;
}

.relative {
    position: relative;
}

@media screen and (max-width: 425px) {
    .my-section-title {
        font-size: 36px;
        letter-spacing: 4px;
    }
    .my-section-subtitle {
        font-size: 24px;
        letter-spacing: 2px;
    }
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

.color-gold {
    color: var(--color-gold);
}

.color-gold-light {
    color: var(--color-gold-light);
}

.color-red-wine {
    color: var(--color-red-wine);
}

.btn-golden {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    background-color: var(--color-gold);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 30px;
    cursor: pointer;
}

.btn-golden:hover {
    background-color: var(--color-gold-light);
    color: white;
}

.btn-golden:active {
    background-color: var(--color-gold) !important;
    color: white;
}

.btn-wine {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    background-color: var(--color-red-wine);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 30px;
    cursor: pointer;
}

.btn-wine:hover {
    background-color: #a61b34;
    color: white;
}

.btn-wine:active {
    background-color: var(--color-red-wine) !important;
    color: white;
}

/*
    Navigation bar
*/
.navbar-toggler {
    border: none;
}

.fa-bars {
    color: var(--color-gold);
}

.navbar-nav .nav-link:active {
    color: var(--color-gold);
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.navbar-nav .nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--color-gold-light);
}

/*
    Hero section
*/

.hero-content-margin {
    margin-top: 160px;
}

#hero {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url("/images/hero-sierra.jpg");
    background-size: cover;
    background-position: bottom;
    min-height: 700px;
    max-height: 1150px;
}

#p-hero {
    text-align: justify;
    max-width: 45ch;
}

#hero h1 {
    font-size: 110px;
    font-weight: bold;
    line-height: 0.8;
}

@media screen and (max-width: 1040px) {
    #hero h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 873px) {
    #hero h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 622px) {
    #hero h1 {
        font-size: 50px;
    }
}

#hero h2 {
    font-size: 50px;
    font-weight: normal;
}

@media screen and (max-width: 1040px) {
    #hero h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 873px) {
    #hero h2 {
        font-size: 30px;
    }
}

#hero p {
    font-size: 20px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1040px) {
    #hero p {
        font-size: 18px;
    }
}

@media screen and (max-width: 873px) {
    #hero p {
        font-size: 16px;
    }
}

/*
    Services section
*/

.my-service-card {
    border: none;
    border-radius: 15px;
    margin: 0;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.my-service-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.my-service-card-body {
    background-color: var(--color-gold);
    border-radius: 0 0 15px 15px;
}

.my-service-image {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.my-left-horse {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}

.my-right-horse {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
    transform: scaleX(-1);
}


/*
    Teachers section
*/

#teachers-section {
    background-color: #fbf8ee;
}

.image-circle {
    --width-teacher: 250px;
    border-radius: 50%;
    width: var(--width-teacher);
    height: var(--width-teacher);
    object-fit: cover;
}

.teacher-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.teacher-name-spacing {
    line-height: 1.1;
}

.quote {
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}


@media screen and (max-width: 985px) {
    .quote {
        font-size: 36px;
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.owl-nav .owl-prev, .owl-nav .owl-next {
    color: red !important;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
    background: none !important;
    outline: none !important;
}

.owl-nav .owl-prev i, .owl-nav .owl-next i {
    font-size: 70px;
    opacity: 0.2;
}

/*
    Testimonies section
*/
#testimonies-section {
    background-image: url("/images/herraduras-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimony-row {
    padding-top: 150px;
}


.my-testimony-card {
    background-color: var(--color-gold);
    position: relative;
    border: none;
    border-radius: 15px;
    max-width: 400px;
    margin: 150px 0px 0px 0px;
    height: calc(100% - 150px);
}

.my-testimony-image {
    position: relative;
    bottom: 125px;
    margin-bottom: -115px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/*
    Allies section
*/

#allies-section {
    background-color: var(--color-red-wine);
}

.allies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.allies-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 2rem;
}

@media screen and (max-width: 542px) {
    .allies-container {
        flex-direction: column;
        text-align: center;
    }
    .allies-container > h2 {
        margin-bottom: 10px; 
    }
    .allies-container .allies-item {
        flex-direction: column !important;
        margin: auto !important;
    }
}

#first-ally-item {
    margin-left: 0;
}
