@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

:root {
    --bs-body-bg: #ffffff;
    --color-gold: #c38e00;
    --color-gold-light: #e9a900;
    --color-red-wine: #bf2f48;
}

html {
    overflow-x: hidden;
}

.active {
    color: var(--color-gold) !important;
}

h2,
h1 {
    color: var(--color-gold);
}

p {
    font-family: Alice, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.my-title-letter {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.my-subtitle-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: normal;
}

.my-section-title {
    font-size: 45px;
    line-height: 0.8;
    letter-spacing: 8px;
}

.my-section-subtitle {
    font-size: 32px;
    line-height: 0.8;
    letter-spacing: 4px;
}

@media screen and (max-width: 330px) {
    .my-section-title {
        font-size: 36px;
        letter-spacing: 4px;
    }
    .my-section-subtitle {
        font-size: 24px;
        letter-spacing: 2px;
    }
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

.btn-golden {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    background-color: var(--color-gold);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 30px;
    cursor: pointer;
}

.btn-golden:hover {
    background-color: var(--color-gold-light);
    color: white;
}

.btn-golden:active {
    background-color: var(--color-gold) !important;
    color: white;
}

.btn-wine {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    background-color: var(--color-red-wine);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 30px;
    cursor: pointer;
}

.btn-wine:hover {
    background-color: #a61b34;
    color: white;
}

.btn-wine:active {
    background-color: var(--color-red-wine) !important;
    color: white;
}

/*
    Navigation bar
*/
.navbar-toggler {
    border: none;
}

.fa-bars {
    color: var(--color-gold);
}

.navbar-nav .nav-link:active {
    color: var(--color-gold);
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.navbar-nav .nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--color-gold-light);
}

/*
    Hero section
*/

.hero-content-margin {
    margin-top: 160px;
}

#hero {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url("/images/hero-sierra.jpg");
    background-size: cover;
    background-position: bottom;
    min-height: 700px;
    max-height: 1150px;
}

#p-hero {
    text-align: justify;
    max-width: 45ch;
}

#hero h1 {
    font-size: 110px;
    font-weight: bold;
    line-height: 0.8;
}

@media screen and (max-width: 1040px) {
    #hero h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 873px) {
    #hero h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 622px) {
    #hero h1 {
        font-size: 50px;
    }
}

#hero h2 {
    font-size: 50px;
    font-weight: normal;
}

@media screen and (max-width: 1040px) {
    #hero h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 873px) {
    #hero h2 {
        font-size: 30px;
    }
}

#hero p {
    font-size: 20px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1040px) {
    #hero p {
        font-size: 18px;
    }
}

@media screen and (max-width: 873px) {
    #hero p {
        font-size: 16px;
    }
}

/*
    Services section
*/

.my-service-card {
    border: none;
    border-radius: 15px;
    margin: 0;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.my-service-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.my-service-card-body {
    background-color: var(--color-gold);
    border-radius: 0 0 15px 15px;
}

.my-service-image {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
